@keyframes bgAnimation {
    from {background-position: 0 0;}
    to {background-position: -73px -70px;}
}

@-webkit-keyframes bgAnimation {
    from {background-position: 0 0;}
    to {background-position: -73px -70px;}
}

header {
    padding-top: 25px;
    color:#fff;
    background-image: url(../../assets/images/coverimg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: bgAnimation 60s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: bgAnimation 60s linear 1;
    animation-fill-mode: forwards;
}

.header-title {
    text-align: center;
    font-size: 5em;
    color: #FFFFFF;
    font-family: 'Satisfy', cursive;
    margin: 0;
}

.coverimg {
    width: 100%;
}

.menu {
    position: relative;
    left: 30px;
    /* top: 20px; */
    /* z-index: 1; */
    bottom: 10px;
    width: 50px;
    /* margin: 50px; */
}

nav {
    position: absolute;
    top: 190px;
    left: 30px;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}